.report-problem-container {
    max-width: 75%;
    margin: 100px auto;
    padding: 20px;
    background: linear-gradient(#009EDB, #005EB8);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-row label {
    color: white;
    margin-right: 10px;
  }
  
  .input-row input,
  .input-row textarea {
    padding: 8px;
    border-radius: 4px;
    border: none;
  }
  
  .input-row input {
    width: 300px;
  }
  
  .input-row textarea {
    width: 300px;
    height: 100px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    align-self: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  