.App {
  text-align: center;
 
}


body {
  /* background-color: yellow; */
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;

  
 
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */