
.leaderboardPage-container {
  background: #b6ddfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, white, var(--lightgrey), grey); */
}

.leaderboard-container {
  max-width: 75%;
  margin: 100px auto;
  padding: 20px;
  background: linear-gradient(to left, #028cc4, #b1d1ef);

  border-radius: 31px;
  box-shadow: 0 0 100px #000;
  color: #004D85;
  animation: bounceIn 1s ease;
  position: relative;
  perspective: 2000px;
}
table.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  animation: slideIn 1s ease;
  transform-style: preserve-3d; /* Enable 3D transformations for the table */
}
table.leaderboard-table th, table.leaderboard-table td {
  padding: 10px;
  text-align: center;
  color: #004D85;
  font-size: 16px;
  width: 25%;
  box-sizing: border-box;
  border: 8px solid #003455;
  /* background: linear-gradient(to right, white, var(--lightgrey), grey); */
  /* animation: fadeInOut 0.5s alternate infinite; */
  transform-origin: center;
}
table.leaderboard-table th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table.leaderboard-table td {
  background-color: #ffffff;
}

table.leaderboard-table tr.even-row td {
  background-color: #ffffff;
}

table.leaderboard-table tr.odd-row td {
  background-color: #f8f9fa;
}

/* Animation for the table rows */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation for table headers */
@keyframes fadeInOut {
  0%, 100% {
    background-color: #f8f9fa;
  }
  50% {
    background-color: #005eb8;
  }
}

/* Animation for the leaderboard container */
@keyframes bounceIn {
  0% {
    transform: scale(0.5) translateZ(-100px); /* Add translateZ for 3D effect */
  }
  100% {
    transform: scale(1) translateZ(0); /* Add translateZ for 3D effect */
  }
}

.leaderboard-row {
  animation: slideIn 0.5s ease forwards;
}
