.flashcardPage-container {
  height: 100vh;
  width: 100%;
background-color: #b6ddfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-container {
  width: 40%;
  margin: 50px auto;
  padding: 40px;


  border-radius: 15px;

  color: black;
  text-align: center;
}

.flash-content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.flashcard-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--darkblue);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flashcard-button:hover {
  background-color: var(--lightgrey);
}
