.login-container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    background: linear-gradient( #009EDB, #005EB8);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 10px;
    padding-right: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
.form-input-login{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.submit-button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  background-color: var(--darkblue);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
margin-left: 30%;
   
  }
  
button:hover {
  background-color: var( --ligtblue);
  color: var(--darkblue);
}
  
