/* Import the provided colors from :root */
:root {
  --darkblue: #004D85;
  --lightblue: #00A1E0;
  --lightgrey: #D9D9D9;
  --gradient-start: #004D85;
  --gradient-end: #00A1E0;
}

/* Login container */
/* Particle background */
/* Add your ParticleBackground styles here */

/* Center container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

/* Login container */
.login-container {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
  max-width: 420px;
  width: 100%;
}

/* Login form */
.login-form {
  margin-top: 20px;
}

/* Style the form inputs and labels */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  color: var(--darkblue);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
}

/* Style the "Hello {name}" message */
.login-message {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
  color: var(--darkblue);
  font-weight: bold;
}

/* Login button */
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: var(--lightblue);
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--darkblue);
}

