.registration-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--dakrblue);
}

.registration-container {
  max-width: 800px;
  margin: 200px auto;
  padding:70px;
  background: linear-gradient( #009EDB, #005EB8);
  border: 1px solid #ccc;
  border-radius: 4px;
  

}


.registration-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: -60px;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
 
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}


.registration-form-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    
}

.registration-form-top label {
   display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  padding: 10px;
  padding-right: 30px;
}

.registration-form-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    
}


.registration-form-bottom label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.form-input
{
  width: 20vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 20px;
}

.registration-form-button button {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: var(--darkblue);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.registration-form-button button:hover {
    background-color: var( --ligtblue);
    color: var(--darkblue);
}