/* Import the provided colors from :root */
:root {
  --darkblue: #004D85;
  --lightblue: #00A1E0;
  --lightgrey: #D9D9D9;
  --gradient-start: #004D85;
  --gradient-end: #00A1E0;
}

/* Split-screen layout */
.left-right-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #a5d8ff, #1864ab);
}

/* Left side container */
.left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background: linear-gradient(to right, #a5d8ff, #1864ab);
}

.left-side h3 {
  font-size: 24px;
  color: #333;
  
}

/* Right side container */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

/* Center container */
.center-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Registration container */
.registration-page-container {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
}

#google-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color:white;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  margin: auto;
}

#brainforce{
  width: 200px;
  background: linear-gradient(to left, #a5d8ff, #1864ab);
  padding: 4px;
}