.registration-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .registration-container {
    max-width: 400px;
    padding: 20px;
    /* background: #f5f5f5; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 10px 10px 10px var(--darkblue);
    margin-top: 50px;
  }
  
  .registration-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; /* Add this line to make the label full-width */
  }
  
  .form-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .registration-form-button button {
    width: 100%;
    max-width: 200px;
    height: 3rem;
    border-radius: 5px;
    background-color: var(--darkblue);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .registration-form-button button:hover {
    background-color: var(--ligtblue);
    color: var(--darkblue);
  }
  
  .error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
  