/* Flashcard.css */
.flashcard {
    width: 100%;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .flashcard__front,
  .flashcard__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flashcard__front {
    z-index: 2;
    /* background: linear-gradient(to right, white, var(--lightgrey), grey); */

    box-shadow: 0 0 100px #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotateY(0deg);
  }

  .flashcard__front p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #004D85;
  }

  .flashcard__back p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #004D85;
  }
  
  .flashcard__back {
    /* background: linear-gradient(to left, white, var(--lightgrey), grey); */
    box-shadow: 0 0 100px #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotateY(180deg);
  }
  
  .flashcard.is-flipped {
    transform: rotateY(180deg);
  }
 
@media only screen and (max-width: 767px) {
  .flashcard__back {
    /* background: linear-gradient(to left, white, var(--lightgrey), grey); */
    box-shadow: 0 0 100px #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotateY(180deg);
  }

  .flashcard_front {
    z-index: 2;
    /* background: linear-gradient(to right, white, var(--lightgrey), grey); */

    box-shadow: 0 0 100px #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotateY(0deg);
  }


}
