/* .justify-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.name-color {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease 0s;
}

.card {
margin: 1%;
} */