/* Navbar container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure Navbar stays on top of other elements */
}

/* Logo and Branding */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: auto;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

/* Brand text */
.logo-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #004d85;
}

/* Nav links container */
.nav-links-container {
  background-color: #00a1e0;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1; /* Take the available space */
  margin-left: 20px; /* Add spacing between logo and navigation links */
}

/* Nav links */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px 10px; /* Add some margin between the links */
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  border-bottom-color: #fff;
}


#navbar-signup-container button {
  margin-right: 20px;
}

/* User activity container */
.user-activity-container {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between Login and Signup buttons */
  align-items: center;
  margin-right: 20px; /* Add spacing between navigation links and login/signup buttons */
}

/* Login and Signup buttons */
.user-activity-container button {
  background-color: #00a1e0;
  border-radius: 10px;
  border: none;
  padding: 10px 20px; /* Add some padding to the buttons */
  margin: 0 5px; /* Add spacing between the buttons */
  color: #004d85;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
}
.user-activity-container button:hover {
  background-color: #004d85;
  color: #00a1e0;
}

/* Einstein image */
#einstein-container1 {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  /* Display Einstein image on smaller screens */
  #einstein-container1 {
    display: block;
    margin-top: 10px;
  }

  /* Hide the navbar links on smaller screens */
  .nav-links-container {
    display: none;
  }
}
