/* Navbar container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px 0px;
  background-color: #D9D9D9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

#tsparticles{
  position: absolute;
  z-index: -1;
}

/* Logo and Branding */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: auto;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

/* Brand text */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Nav links container */
.nav-links-container {
  background-color: #00A1E0;
  width: 57%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

/* Nav links */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

/* hacky */
.user-activity {
  transform: translateY(-10px);
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  border-bottom-color: #FFF;
}

/* User activity container */
.user-activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.user-activity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Login and Signup buttons */
.user-activity-container button {
  background-color: #00A1E0;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: #004D85;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#navbar-login-container {
  margin-right: 10px;
}

.user-activity-container button:hover {
  background-color: #004D85;
  color: #00A1E0;
}

/* Einstein image */
#einstein-container1 {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .user-activity-container {
    flex-direction: column;
  }

  /* Display Einstein image on smaller screens */
  #einstein-container1 {
    display: block;
    margin-top: 10px;
  }

  /* Hide the navbar links on smaller screens */
  .nav-links-container {
    display: none;
  }
}
