/* Navbar Container */
.navContainer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0390c8, var(--darkblue));
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
  }
  
  /* Logo */
  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
  }
  
  .logoImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .logoText {
    font-weight: 900;
    color: #003455;
    font-size: 24px;
}
  
  /* Navigation Links */
  .navLinksContainer {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .navLink::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
  }
  
  .navLink:hover::before {
    width: 100%;
  }
  
  /* User Activity Container */
  .userActivityContainer {
    display: flex;
    align-items: center;
 
  }
  
  .userActivityButton {
    color: white;
    background-color: var(--lightblue);
    border-radius: 5px;
    padding: 9px 1px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin: 0 8px;
    transition: background-color 0.3s;
  }
  
  .userActivityButton:hover {
    background-color: #005eb8;
  }
  
  .user-menu {
    background: var(--darkblue);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 8px;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 200;
    animation: slideDown 0.3s;
    max-width: 200px; /* Limit the width of the user menu container */
  }
  
  .menu-item {
    color: white;
    font-size: 14px;
    padding:1px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
  }
  
  .menu-item-icon {
    margin-right: 8px;
  }
  