:root {
  --lightblue: #aec6d7;
  --darkblue: #003455;
  --lightgrey: #f2f2f2;
  --darkgrey: #333333;
  --white: #ffffff;


}


.App {
  text-align: center;
 
}


body {
  background: #b6ddfd;

  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;

  
 
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */