.quiz-page {
  background: #b6ddfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(to right, white, var(--lightgrey), grey); */
}
.submit-quiz {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--darkblue);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.submit-quiz:hover {
  background-color: var(--lightblue);
}

.quiz-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 4px 88px #000;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to left, #028cc4, #b1d1ef);
  /* border: 4px solid #005eb8; */
}