
.quiz-page {
  width: 100vw;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #b6ddfd;
}

.submit-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit-quiz p {
  color: #003455;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;

}

.submit-quiz button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--darkblue);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-quiz button:hover {
  background-color: var(--lightblue); /* Change to the desired hover color */
}



.submit-quiz:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.quiz-container {
  margin-top: -20px;

  
  box-shadow: 0px 0px 10px 5px #003455;
  border: 18px solid #b7daf9;
  /* margin-top: 100px; */
  max-width: 600px;
  max-height: 70vh;
  padding: 20px;
  box-shadow: 0 px 88px #000;
  border-radius: 27px;
  overflow-y: auto;
  background: linear-gradient(to left, #028cc4, #b1d1ef);
}
