
.quiz-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b6ddfd;
  overflow: hidden;
}

.submit-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

.quiz-container {
  margin-top: 20px;
  box-shadow: 0px 0px 10px 5px #003455;
  border: 18px solid #b7daf9;
  max-width: 600px;
  max-height: calc(100vh - 140px);
  padding: 20px;
  border-radius: 27px;
  overflow-y: auto;
  background: linear-gradient(to left, #028cc4, #b1d1ef);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .quiz-page {
    justify-content: flex-start; /* Adjust the alignment for smaller screens */
  }

  .quiz-container {
    max-width: 90%; /* Adjust the max width for smaller screens */
    max-height: calc(100vh - 200px); /* Adjust the max height for smaller screens */
  }

  #progressbar {
    margin-bottom: 10px; /* Reduce the spacing between steps for smaller screens */
  }

  #progressbar li {
    font-size: 14px;
    padding: 5px 0;
  }

  .progress-line {
    height: 4px; /* Reduce the height of the progress line for smaller screens */
  }
}
