/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* General styling for the Register page */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-container {
  max-width: 400px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color:#028ec6;
}

.white-text{
  color: #fff;
} 
#register-margin{
  margin-left: 90px;
}
.registration-page-container {
  display: flex;
  flex-direction: column;
}
.white-text-reg{
  color: #fff;
  margin: 20px;
}

.google-btn{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.registration-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 200px;
}

.registration-paper {
  margin: 0 auto;
}