.quiz-card {
  background: white;
  color: var(--darkblue);
  border-radius: 27px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 90%; 
  max-width: 500px; 
  margin: 50px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
}

.quiz-question {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}

.quiz-options {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.quiz-option {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--darkblue);
  font-weight: bold;
  text-align: center; 
}

.quiz-option:hover {
  background-color: var(--lightblue);
}

.quiz-option.selected {
  background-color: var(--lightblue);
}

.quiz-option.correct {
  background-color: #c0ff7f;
  cursor: not-allowed;
}

.quiz-option.incorrect {
  background-color: #ff7f7f;
  cursor: not-allowed;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles for the popup content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative; /* Add this to make the close button positioning relative to the popup content */
  color: #333; /* Set the text color */
}

/* Add styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #666; /* Set the close button color */
}


.loading {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.loading ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@media (max-width: 600px) {
  .quiz-card {

    padding: 12px;
  }

  .quiz-question {
   
    font-size: 20px;
  }

  .quiz-option {

    padding: 10px;
  
    font-size: 14px;
  }
}
