.quiz-card {
  background: white;
  color: var(--darkblue);
  border-radius: 27px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 90%; 
  max-width: 500px; 
  margin: 50px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
}

.quiz-question {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}

.quiz-options {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.quiz-option {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--darkblue);
  font-weight: bold;
  text-align: center; 
}

.quiz-option:hover {
  background-color: var(--lightblue);
}

.quiz-option.selected {
  background-color: var(--lightblue);
}

.quiz-option.correct {
  background-color: #c0ff7f;
  cursor: not-allowed;
}

.quiz-option.incorrect {
  background-color: #ff7f7f;
  cursor: not-allowed;
}


@media (max-width: 600px) {
  .quiz-card {

    padding: 12px;
  }

  .quiz-question {
   
    font-size: 20px;
  }

  .quiz-option {

    padding: 10px;
  
    font-size: 14px;
  }
}
