.quiz-card {
  background: white;
  color: var(--darkblue);
  border-radius: 27px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 90%; /* Adjust the width for smaller screens */
  max-width: 500px; /* Set a maximum width for larger screens */
  height: 350px;
  margin: 50px auto; /* Center the quiz card horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.quiz-question {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center; /* Center the question text */
}

.quiz-options {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quiz-option {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--darkblue);
  font-weight: bold;
  text-align: center; /* Center the option text */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .quiz-card {
    height: auto; /* Allow the quiz card to grow vertically based on content */
    padding: 12px; /* Adjust the padding for smaller screens */
  }

  .quiz-question {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .quiz-option {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
