/* Add this to your MakeCourse.css */
.full-page-container {
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 100vw; /* Set the width to 100% of the viewport width */
  background: linear-gradient(to right, white, var(--lightgrey), grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-options-container {
  max-width: 75%;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(to right, #a5d8ff, #1864ab);
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 100px var(--lightgrey);
}

.full-page-container h2 {
  text-align: center;
  color: #1864ab;
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.full-page-container h2 span{
  background: linear-gradient(to right, #2e3235, #1864ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  overflow: hidden; /* Ensures the text stays hidden while typing */
  border-right: 0.15em solid #fff; /* Creates the blinking cursor effect */
  white-space: nowrap; /* Keeps the text in a single line */
  margin: 0 auto; /* Centers the text */
 
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}


.full-page-container p {
  text-align: center;
  color: black;
  margin-bottom: 1px;
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.option-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.option-row .option {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  width: 33%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  border-radius: 15px;
}

.option-row .option.selected {
  background-color: var(--lightblue);
}

.option-row .option.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.option-row img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.make-course-button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--darkblue);
  color: var(--ligtblue);
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
}

.make-course-button:disabled {
  background-color: var(--darkblue);
  cursor: not-allowed;
}

.make-course-button:hover {
  background-color: var(--lightgrey);
  color: var(--darkblue);
}

.option-row label:hover {
  background-color: var(--lightblue);
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.einstein-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.einstein-img img {
  width: 20%;
  animation: flip 4s  infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


.einstein-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.einstein-img img {
  width: 30%;
  height: 70%;
  margin-top: -100px;
}


