/* ProgressBar Container */
.progressBar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* ProgressBar */
.progressBar {
  width: 80%;
  max-width: 900px;
  text-align: center;
}

/* Progress Steps */
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progressbar li {
  list-style-type: none;
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s, font-size 0.3s;
}

#progressbar li.active {
  color: #003455;
  font-size:42px;
}

/* Progress Line */
.progress-line-container {
  position: relative;
  height: 8px;
  background-color: #ddd;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.progress-line {
  background: linear-gradient(45deg, #3798cc, #003455);
  height: 100%;
  /* background-color: #076da3; */
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}


/* Mobile Styles */
@media (max-width: 600px) {
  .progressBar {
    width: 90%; /* Adjust the width for mobile devices */
  }

  #progressbar {
    margin-bottom: 20px; /* Reduce spacing between steps for mobile */
  }

  #progressbar li.active { 
    font-size: 24px; /* Adjust font size for mobile devices */
  }

  #progressbar li {
    font-size: 14px; /* Adjust font size for mobile devices */
    padding: 5px 0; /* Reduce padding for mobile devices */
  }

  .progress-line {
    height: 4px; /* Reduce the height of the progress line for mobile */
  }
}
